#----------------------------------------------------------
# XSystem35 配置文件
#
# XSystem35 会从 ~/.xsys35rc 和当前目录下的 .xsys35rc 读取配置。
# 当前目录下的配置文件优先级更高，因此建议将通用设置放在 ~/.xsys35rc，
# 游戏特定设置放在游戏目录中的 .xsys35rc 内。
#
# 以 '#' 开头的行为注释。

# ------------------------------------------------------------
# 字体
#

# Gothic（无衬线）和 Mincho（衬线）字体。支持 .ttf 和 .otf 文件。

#ttfont_gothic: /usr/local/share/xsystem35/fonts/MTLc3m.ttf
#ttfont_mincho: /usr/local/share/xsystem35/fonts/mincho.otf

# 某些字体文件包含多个“字面”。此项指定使用字体文件中的哪个字面。

#ttfont_mincho_face: 0
#ttfont_gothic_face: 0

# 禁用字体抗锯齿。

#antialias: No

# ------------------------------------------------------------
# 显示
#

# 强制整数缩放。

#integerscale: Yes

# 禁用资源文件中定义的自定义鼠标光标。

#no_imagecursor: Yes

# ------------------------------------------------------------
# 音频
#

# CD 播放列表的路径。播放列表是一个文本文件，每行一个文件名，顺序与 CD 音轨一致。

#playlist: playlist.txt

# 音频缓冲区大小（字节）。
# 值太小会导致声音卡顿，值太大会导致声音延迟。

#audio_buffer_size: 2048

# MIDI 输出方式
# 'e'  : SDL_mixer（默认）
# 'pX' : 通过 PortMidi（X 为设备号，通常为 0）
# '0'  : 禁用 MIDI

#midi_output_device: e

# ------------------------------------------------------------
# 输入
#

# 手柄设备编号（从 0 开始）

#joy_device: 0

# -----------------------------------------------------------
# 杂项
#

# 保存游戏状态文件的目录。
# 若以 '~' 开头，则会展开为用户的主目录（$HOME）。

#savedir: ~/.xsystem35-saves

# 写入存档文件时使用的格式。
#  xsystem35 : 默认
#  system36  : 兼容 System3.5 v2 - System3.6
#  system39  : 兼容 System3.8 - System3.9

#saveformat: xsystem35

# 启用针对特定游戏的修复补丁。通常会自动检测，但对于标题被修改/翻译的游戏需要手动指定。
#
# 可选值包括：toushin2, rance3_eng, rance4_eng, rance4_v2, persiom, agake。

#game: rance4_v2

# 文本钩子模式。
#  none  : 不进行文本钩子（默认）
#  print : 将文本打印到控制台
#  copy  : 自动将文本复制到剪贴板（用于配合文本提取工具）

#texthook: none

# 在指定的场景页面上抑制文本钩子。
# 用于抑制系统消息等。
# 以下示例适用于《鬼畜王兰斯》。

#texthook_suppress: 7,11,15,16,17,18,23,24,32,33,197

# 直播模式的审查列表。
# 对指定文件中列出的图像进行马赛克处理，使其适合直播或公开观看。
# 文件应每行一个图像编号，'#' 视为注释。

#censor: censor_list.txt

# 启用 ZB 命令（更改字体粗细）。默认禁用，因为使用默认字体会使文本过粗。
# 此选项为实验性，未来可能移除。详见：
# https://github.com/kichikuou/xsystem35-sdl2/issues/44

#enable_zb: Yes